body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }

  label, input {
    display: block;
    margin: 10px 0;
  }

  .senhaErrada {
    border: 2px solid red;
    background-color: #ffe5e5;
  }